@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.theme-dark {
  --color-primary: hsl(230, 17%, 14%);
  --color-secondary: hsl(228, 28%, 20%);
  --color-accent: hsl(228, 34%, 66%);
  --font-color: hsl(0, 0%, 100%);
}

.theme-light {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(227, 47%, 96%);
  --color-accent: hsl(228, 12%, 44%);
  --font-color: hsl(230, 17%, 14%);
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background: var(--color-primary);
}

h1,
h2,
p {
  color: var(--font-color);
}

h3 {
  color: var(--color-accent);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #378fe6, #3eda82);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #1e202a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: #8e919f;
}

input:not(:checked) + .slider {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #fff;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  padding: 40px 60px;
}

.rise,
.down {
  font-size: 13px;
}

.rise {
  color: #1db489;
}

.down {
  color: #dc414c;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header .head,
header .theme-switch {
  padding: 12px 0;
}
header .theme-switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.card__section1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px 16px;
  justify-content: center;
  gap: 12px;
  padding: 24px 0;
}
.card__section1 .card1 {
  display: grid;
  place-items: center;
  border-radius: 4px;
  padding: 26px 36px;
  height: 250px;
  text-align: center;
  background: var(--color-secondary);
}
.card__section1 .card1 * {
  padding: 8px 0;
}
.card__section1 .card1 .user,
.card__section1 .card1 .rise-down {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.card__section1 .card1 .user img,
.card__section1 .card1 .user p,
.card__section1 .card1 .rise-down img,
.card__section1 .card1 .rise-down p {
  padding: 0 6px;
}
.card__section1 .card1 h2 {
  font-size: 44px;
  padding: 0;
}
.card__section1 .card1 h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 100;
}
.card__section1 .card1:nth-child(1) {
  border-top: 3px solid #198ff5;
}
.card__section1 .card1:nth-child(2) {
  border-top: 3px solid #1ca0f2;
}
.card__section1 .card1:nth-child(3) {
  border: 3px solid;
  border-radius: 6px;
  border-image: linear-gradient(to right, #fdc468, #df4996);
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.card__section1 .card1:nth-child(4) {
  border-top: 3px solid #c4032a;
}

/*# sourceMappingURL=styles.css.map */
